---
- name: Themes | Set ohmyzsh theme to used
  lineinfile:
    path: ~/.zshrc
    regexp: '^ZSH_THEME='
    line: 'ZSH_THEME="{{ ohmyzsh_theme }}"'
  become: yes
  become_user: "{{ item }}"
  with_items: "{{ ohmyzsh_users }}"
